---
import StarlightSiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
---

<div class="skillet-site-title">
  <StarlightSiteTitle />
  <a class="skillet-header-link" href="/quickstart/">Docs</a>
  <a class="skillet-header-link" href="https://github.com/getsentry/skillet">GitHub</a>
</div>
